<div data-id="dados[i].id" class="grid col-md-4 col-lg-4 col-sm-6 isbn">
	<figure class="effect-terry">
		<img src="dados[i].volumeInfo.imageLinks.thumbnail">
		<div class="infoCatalogo">
			<h2 class="tagsNome col-md-7 box-book"> dados[i].titulo
				<br>
				<span> dados[i].volumeInfo.authors[0]</span>
			</h2>
			<h2 class="tagsPreco col-md-5"> R$ dados[i].volumeInfo.saleInfo.amount</h2>
		</div>
		<figcaption class="col-md-12">
			<p>
				<a>
					<i class="glyphicon glyphicon-heart"></i>
				</a>
				<a>
					<i class="glyphicon glyphicon-shopping-cart"></i>
				</a>
				<a >
					<i class="glyphicon glyphicon-info-sign"></i>
				</a>
			</p>
		</figcaption>
	</figure>
</div>
