form.navbar-form.navbar-left(data-filter=filter)
	div.form-group(style="margin: 3px")
		select.selectpicker.form-control#select-categ
			option(value="all") Todas Editoras
			option(value="arqueiro") Arqueiro
			option(value="intrinseca") Intrinseca
			option(value="sextante") Sextante
			option(value="companhia+das+letras") Companhia das Letras
			option(value="paralela") Paralela
			option(value="leya") Leya