doctype html
html
	head
		title= title
		link(rel="icon", type="image/jpg", href="/images/logonav.jpg")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/rotate.min.js')
		script(src='/javascripts/jquery.elevateZoom-3.0.8.min.js')
		script(src="https://www.google.com/books/jsapi.js")
		script(src='/javascripts/script.js')
	body
		div.body-color
		div.body-image
		block content
