div.pg-title
	img(src="../../images/logo-white.png")#pg-title
nav.navig
	div.navbar-header
		button(type="button", data-toggle="collapse",data-target="#colaspse-content", aria-expanded="false").navbar-toggle.collapsed
			span.sr-only Toggle navigation
			span.icon-bar
			span.icon-bar
			span.icon-bar
	div.collapse.navbar-collapse#colaspse-content
		div.navbar-content
				ul.nav.navbar-nav
					li
						a(href="/") Página Inicial
					li
						a(href="/catalogo") Catálogo
					li#logoNav
						img(src="../../images/logo-white.png", height="50px")
				ul.nav.navbar-nav.navbar-right
					li.icon
						a(href="/catalogo/desejo")
							span.glyphicon.glyphicon-heart.heart-navbar
							span.badge.badge-nav#numberWish 0
					li.icon
						a#cartBox
							span.glyphicon.glyphicon-shopping-cart
							span.badge.badge-nav#numberCart 0
					li.icon
						a
							span.glyphicon.glyphicon-bell
							span.badge.badge-nav#numberBell 0
					li
						a#open-search
							span.glyphicon.glyphicon-search
					-if(!carrinho){
						include carrinho.pug
					-}
					
-if(categorias==true){
	div.filter-icon
		span.glyphicon.glyphicon-menu-up
		span.glyphicon.glyphicon-menu-up
	include filtro.pug
-}

include search.pug
