div.search-modal
	div.search-container
		div.col-md-5
			a#close-search
				span.glyphicon.glyphicon-remove
			div.search-section.col-md-12
				form(role="form")
					input(type="input",placeholder="Busca").search-input#search-input
					h4 Pesquisa feita por: categoria, autor, título ou editora.
			div#box-result.col-md-12
		div.list-result.col-md-7